body {
    margin-left: 350px;
    margin-right: 350px;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    align-content: end;
    margin-top: 0;
    max-height: 40px;
}

.links {
    display: flex;
    gap: 20px;
    margin-left: auto;
    font-style: normal;
    font-size: 18px;
}

.left-header {
    font-size: 24px;
    /* color: #F9FAF8; */
}

.top-section {
    display: flex;
    margin-top: 100px;
}

.top-text {
    width: 50%;
    margin: 0;
}

.placeholder {
    width: 50%;
    background-color: #8a8a8a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    font-size: 48px;
    /* color: #F9FAF8; */
    font-weight: 800;
    margin: 0;
}

.top-p {
    width: 85%;
    margin-top: 3px;
    margin-bottom: 10px;
}
